.Question {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 5rem;
  list-style: none;
  width: 80vw;
  margin: 5rem auto;
}


.Question-question {
  background-color:#eee;
  font-size: 2rem;
  color: #555;
  margin-bottom: 2px;
  padding: .5rem 1rem;

}


.Question-answer {
  background-color: aqua;
  font-size: 1.3rem;
  margin-bottom: 2px;
  padding: .5rem 1rem;
}


.fly {
  /* transform: translateX(-600px); */
  border-radius: 3px;
  animation-name: fade-in;
  animation-duration: 1000ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


.reload {
  display: block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #eee;
  text-transform: uppercase;
  border: none;
}


@keyframes fade-in{
  0% {
    opacity: 0;
    /* transform: translateX(-600px) */
  }

  100% {
    opacity: 1;
    /* transform: translateX(0px) */
  }
}